.dropdown {
	width: 200px;
	display: inline-block;
	background-color: #ddd;
	border-radius: 2px;
	box-shadow: 0 0 2px rgb(204, 204, 204);
	transition: all .5s ease;
	position: relative;
	font-size: 14px;
	color: #474747;
	height: 100%;
	text-align: left
}

.dropdown .select {
	cursor: pointer;
	display: block;
	padding: 10px
}
.dropdown .select > i {
	font-size: 13px;
	color: #888;
	cursor: pointer;
	transition: all .3s ease-in-out;
	float: right;
	line-height: 20px
}
.dropdown:hover {
	box-shadow: 0 0 4px rgb(204, 204, 204)
}
.dropdown:active {
	background-color: #f8f8f8
}
.dropdown .dropdown-menu {
	position: absolute;
	background-color: #fff;
	width: 100%;
	left: 0;
	margin-top: 1px;
	box-shadow: 0 1px 2px rgb(204, 204, 204);
	border-radius: 0 1px 2px 2px;

	display: none;
	max-height: 300px;

	overflow-y: auto;
	z-index: 9
}

.dropdown .dropdown-menu li {
	padding: 10px;
	transition: all .2s ease-in-out;
	cursor: pointer
}
.dropdown .dropdown-menu {
	padding: 0;
	list-style: none
}
.dropdown .dropdown-menu li:hover {
	background-color: #f2f2f2
}
.dropdown .dropdown-menu li:active {
	background-color: #e2e2e2
}

.quantitiesTable {
	border: 1px solid;
}
.quantitiesTable tr {
	border: 1px solid;
}
.quantitiesTable tr td {
	border: 1px solid;
}

