.constantsDiv {
	max-height: 150px;
	width: fit-content;
	overflow: auto;
	margin-top: 20px;
	padding: 5px;
	padding-top: 0px;
	max-width: 100%;
}
.constantsTable {
	border: 1px solid;
	width: fit-content;
}
.constantsTable thead th{
	position: sticky;
	top: 0px;
	background-color: #E0E0E0;
}
.constantsTr {
	border: 1px solid;
}
.constantsTd {
	border: 1px solid;
	white-space: nowrap;
	text-align: left;
}
.quantitiesDiv {
	max-height: 150px;
	width: fit-content;
	overflow: auto;
	margin-top: 20px;
	padding: 5px;
	padding-top: 0px;
}
.quantitiesTable {
	border: 1px solid;
	width: fit-content;
}
.quantitiesTable thead th{
	position: sticky;
	top: 0px;
	background-color: #E0E0E0;
}
.quantitiesTr {
	border: 1px solid;
}
.quantitiesTd {
	border: 1px solid;
}

.radioDiv {
	display:flex;
	flex-direction:row;
}

