<html>
  <head>
    <title>web-interface</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-crosshair@1.2.0"></script>
<style>
{{ cssFile }}
</style>
  </head>
  <body>

<script>
{{ jsFile }}
</script>

    <py-config>
      packages = [
	  "matplotlib",
	  "pandas",
	  "sqlite3",
	  "pytools",
	  ]
    </py-config>

<py-script>
{{ logpyleFile }}
{{ runalyzerGatherFile }}
{{ runalyzerFile }}
</py-script>

<py-script>
{{ pythonFile }}
</py-script>

	<div style="display: flex; background-color: lightblue">
		<div style="margin:10px;padding:10px;">
			<button py-click="addFileFunc()" id="add-file" class="py-button">Add file</button>
		</div>
		<div style="margin:10px;padding:10px;font-weight:bold;">
			HTMLalizer
		</div>
	</div>

	<div id="fileList" style="display:flex;flex-direction:column">
	</div>

  </body>
</html>
