<div class="newFile" id="{0}" style="display:flex;flex-direction:column">
	<div class="inputFileDiv">
		<label for="file{0}">Choose a Logpyle sqlite file to analyze:</label>
		<br>
		<input id="file{0}" name="file{0}" type="file" style="margin:5px;padding=5px;">
	</div>

    <div class="constantsDiv " id="constants{0}">
		<table class="constantsTable" id="constantsTable{0}">
			<thead>
				<tr class="constantsTr">
					<th class="constantsTd">Constant</th>
					<th class="constantsTd">Value</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
        </table>
    </div>
    <div class="quantitiesDiv " id="quantities{0}">
		<table class="quantitiesTable" id="quantitiesTable{0}">
			<thead>
				<tr class="quantitiesTr">
					<th class="quantitiesTr">Quantity</th>
					<th class="quantitiesTr">Units</th>
					<th class="quantitiesTr">Description</th>
					<th class="quantitiesTr">ID</th>
					<th class="quantitiesTr">Aggregation Rank</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
        </table>
    </div>
    <div id="interactive{0}" style="display:flex;flex-direction:row">
        <div id="menu{0}" style="display:flex;flex-direction:column">
            <div id="plot{0}" style="display:flex;flex-direction:column;margin:5px;padding=5px;background-color:#C0C0C0">
				<button id="plotButton{0}" style="height:30px;padding:5px" param="{0}">
                    Create Plot (Runalyzer)
                </button>
				<button id="chartsButton{0}" style="height:30px;padding:5px" param="{0}">
                    Create Chart
                </button>

				<div>
					<label for="quantity1{0}">X-axis Quantity:</label>
					<div id="xQuantity{0}" style="display:flex;flex-direction:column;margin:5px;padding=5px;">
						<select name="quantity1_{0}" id="quantity1_{0}">
						</select>
					</div>
				</div>

				<div>
					<label for="quantity2{0}">Y-axis Quantities:</label>
					<div id="yQuantities{0}" style="display:flex;flex-direction:column;margin:5px;padding=5px;">
						<div style="white-space:nowrap">
							<select name="quantity2{0}" id="quantity2_{0}" name="q2">
							</select>
							<input type="color">
						</div>
					</div>
				</div>
				<button id="addLineButton{0}" style="height:30px;margin:5px;padding:5px" param1="{0}">
					Add Line to Plot
				</button>
            </div>

            <div id="table{0}" style="display:flex;flex-direction:column;margin:5px;padding:5px;background-color:#C0C0C0">
				<div id="tableHeader{0}" style="white-space:nowrap">

					<label for="tableQuantitySelect{0}">Table Quantity:</label>
					<select name="tableQuantitySelect{0}" id="tableQuantitySelect{0}">
					</select>

					<button id="tableButton{0}" style="height:30px;padding:5px;width:fit-content;" param="{0}">
						Add to list
					</button>

				</div>
				<ol id="tableList{0}" style="margin-top:0px">

				</ol>
				<div id="tableFooter{0}" style="display:flex;flex-direction:row">
					<button id="tableDownloadButton{0}" style="height:30px;padding:5px" param="{0}">
						Download Table
					</button>
					<button id="tablePrintButton{0}" style="height:30px;padding:5px;width:fit-content;" param="{0}">
						Print Table
					</button>

				</div>
            </div>
        </div>
        <div id="output{0}" style="margin:5px;"></div>
		<div style="flex-basis:100%">
			<canvas id="chart{0}"></canvas>
		</div>
    </div>
</div>

