name: CI
on:
    push:
        branches:
        - master
    pull_request:
    schedule:
        - cron:  '5 0 * * *'

jobs:
    Flake8:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v2
        - name: Set up Python
          uses: actions/setup-python@v2
          with:
            python-version: '3.x'
        - name: Run flake8
          run: |
            pip install flake8 pep8-naming flake8-quotes
            flake8 setup.py doc/conf.py logpyle bin/*

    Examples:
        runs-on: ${{ matrix.os }}
        strategy:
          fail-fast: false
          matrix:
            python-version: [3.6, 3.7, 3.8, 3.9, 3.x]
            os: [ubuntu-latest, macos-latest]

        steps:
        - uses: actions/checkout@v2
        - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
          uses: actions/setup-python@v2
          with:
            python-version: ${{ matrix.python-version }}
        - name: Install prerequisites
          run: |
            [[ $(uname) == "Darwin" ]] && brew install open-mpi
            [[ $(uname) == "Linux" ]] && sudo apt-get install -y mpich libmpich-dev
            pip install wheel matplotlib mpi4py
            pip install -e .
        - name: Run and test example
          run: |
            python examples/log.py
            runalyzer-gather summary.sqlite log.sqlite
            runalyzer -m summary.sqlite -c 'dbplot(q("select $t_sim, $t_step"))'

            # Allow oversubscription of ranks to cores with Open MPI
            export OMPI_MCA_rmaps_base_oversubscribe=1
            mpirun -n 4 examples/log-mpi.py

    docs:
        name: Documentation
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v2
        -
            uses: actions/setup-python@v1
            with:
                python-version: '3.x'
        -   name: "Main Script"
            run: |
                curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/ci-support.sh
                . ci-support.sh
                build_py_project_in_venv
                build_docs
