name: CI
on:
    push:
        branches:
        - master
    pull_request:
        paths-ignore:
        - 'doc/*.rst'
    schedule:
        - cron:  '5 0 * * *'

jobs:
    Flake8:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v2
        - name: Set up Python 
          uses: actions/setup-python@v2
          with:
            python-version: '3.x'
        - name: Run flake8
          run: |
            pip install flake8
            flake8 && echo "Flake8 found no errors."
    Example:
        runs-on: ubuntu-latest
        strategy:
          fail-fast: false
          matrix:
            python-version: [3.6, ...3.8]
            
        steps:
        - uses: actions/checkout@v2
        - name: Set up Python ${{ matrix.python-version }}
          uses: actions/setup-python@v2
          with:
            python-version: ${{ matrix.python-version }}
        - name: Run and test examples
          run: |
            pip install matplotlib
            pip install -e .
            python examples/log.py
            runalyzer-gather summary.dat mylog.dat
            runalyzer -m summary.dat -c 'dbplot(q("select $t_sim, $t_step"))'
